# Environment variables
.env

# Python/Django specific
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.sqlite3

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs and temporary files
*.log
*.pot
.vercel
